<%= form_for [semester.course, semester] do |f| %>
  <p class="card-title">Title</p>

  <div class="card field mb">
    <span>
      <%= f.text_field :name, autocomplete: :off, class: 'm0', required: true %>
      <%= f.label :name %>
    </span>
  </div>

  <div class="toggle">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>

  <p class="card-title">Staff</p>

  <div class="card field">
    <span>
      <%= f.select :teacher_id, User.pluck(:email, :id), include_blank: true %>
      <%= f.label :teacher_id %>
    </span>

    <br>

    <span>
      <%= f.select :teacher_assistant_id, User.pluck(:email, :id), include_blank: true %>
      <%= f.label :teacher_assistant_id %>
    </span>

    <br>

    <span>
      <%= f.select :director_id, User.pluck(:email, :id), include_blank: true %>
      <%= f.label :director_id %>
    </span>
  </div>

  <% if semester.persisted? %>
    <p class="card-title"><%= pluralize @students.count, 'student' %></p>

    <div id="roll">
      <% @students.each do |student| %>
        <%= f.check_box :student_ids, { multiple: true }, student.id, nil %>
        <%= f.label "student_ids_#{student.id}", student.name %>
      <% end %>
    </div>

    <div class="card field">
      <div class="flex">
        <span>
          <%= text_field_tag 'student_search', nil, class: 'm0', id: 'autocomplete' %>
          <%= label_tag :autocomplete, 'Add student' %>
        </span>
      </div>
    </div>
  <% end %>

  <%= submit_button f %>
<% end %>
