<h3 class="card-title">
  Attendance for

  <span class="field">
    <%= text_field_tag :date, date, size: 10 %>
  </span>
</h3>

<p>Current time: <%= Time.now.strftime('%r %D') %></p>
<p>Time zone: <%= Time.zone %></p>

<%= form_for @semester, url: course_semester_path(@semester.course_id, @semester) do |f| %>
  <% if @attendances %>
    <%= render 'edit_attendances', f: f %>
  <% else %>
    <%= render 'new_attendances', f: f %>
  <% end %>
<% end %>

<%= back_button course_semester_path @semester.course_id, @semester %>

<%= submit_button %>
