<h3 class="card-title"><%= @course.name %> | <%= @semester.name %></h3>

<% if current_user %>
  <p class="card-title">
    Staff
  </p>

  <div class="card">
    <div class="flex justify-between">
      <span>Teacher:</span>
      <%= @semester.teacher&.email || '<i>none</i>'.html_safe %>
    </div>
    <div class="flex justify-between">
      <span>Teacher Assistant:</span>
      <%= @semester.teacher_assistant&.email || '<i>none</i>'.html_safe %>
    </div>
    <div class="flex justify-between">
      <span>Director:</span>
      <%= @semester.director&.email || '<i>none</i>'.html_safe %>
    </div>
  </div>
<% end %>

<p class="card-title">
  Lessons
</p>

<%= link_to [@course, @semester, :lessons], class: 'clickable-row flex justify-between' do %>
  View Lessons
  <i class="fa fa-arrow-right fa-lg" aria-hidden="true" style="line-height: 1;"></i>
<% end %>

<% if current_user %>
  <p class="card-title">
    <%= @semester.active ? 'Active' : 'Inactive' %>
  </p>

  <% if @semester.active %>
    <%= link_to attendance_course_semester_path(@course, @semester), class: 'clickable-row flex justify-between' do %>
      Take Attendance
      <i class="fa fa-arrow-right fa-lg" aria-hidden="true" style="line-height: 1;"></i>
    <% end %>
  <% end %>

  <div class="flex justify-between card-title">
    <p>
      <% student_count = pluralize @semester.students.size, 'student' %>

      <% if params[:sort] == 'name' %>
        <% if params[:dir] == 'asc' %>
          <%= link_to student_count, course_semester_path(@course, @semester, sort: 'name', dir: 'desc'), class: 'asc' %>
        <% elsif params[:dir] == 'desc' %>
          <%= link_to student_count, course_semester_path(@course, @semester, sort: 'name', dir: 'asc'), class: 'desc' %>
        <% end %>
      <% elsif params[:sort].nil? %>
        <%= link_to student_count, course_semester_path(@course, @semester, sort: 'name', dir: 'desc'), class: 'asc' %>
      <% else %>
        <%= link_to student_count, course_semester_path(@course, @semester, sort: 'name', dir: 'asc') %>
      <% end %>
    </p>

    <p>
      <% if params[:sort] == 'attendance' %>
        <% if params[:dir] == 'desc' %>
          <%= link_to 'Attendance', course_semester_path(@course, @semester, sort: 'attendance', dir: 'asc'), class: 'desc' %>
        <% elsif params[:dir] == 'asc' %>
          <%= link_to 'Attendance', course_semester_path(@course, @semester, sort: 'attendance', dir: 'desc'), class: 'asc' %>
        <% end %>
      <% else %>
        <%= link_to 'Attendance', course_semester_path(@course, @semester, sort: 'attendance', dir: 'desc') %>
      <% end %>
    </p>
  </div>

  <div class="flex flex-column">
    <% students = @semester.students %>
    <% if params[:sort] == 'attendance' %>
      <% students = students.sort_by do |student|
        total = student.attendances.select { |x| x.semester_id == @semester.id }
        attendance_percentage total
      end %>
      <% students.reverse! if params[:dir] == 'desc' %>
    <% end %>

    <% students.each do |student| %>
      <%= student_attendance student, @semester %>
    <% end %>
  </div>
<% end %>

<%# users would want to go back to semesters#index but students would most likely want to go back to courses#index %>
<% if current_user %>
  <%= back_button course_semesters_path @course %>
<% elsif current_student %>
  <%= back_button courses_path %>
<% end %>

<%= edit_button edit_course_semester_path @course, @semester if policy(:semester).teacher? %>
