<h3 class="card-title"><%= @course.name %> | <%= @semester.name %></h3>


<% if current_student %>
  <p>Presentations (show all)</p>

  <p>Assignments (show all)</p>
<% elsif current_user %>
  <p class="card-title">
    Staff
  </p>

  <div class="card">
    <div class="flex-container justify-between">
      <span>Teacher:</span>
      <%= @semester.teacher&.email || '<i>none</i>'.html_safe %>
    </div>
    <div class="flex-container justify-between">
      <span>Teacher Assistant:</span>
      <%= @semester.teacher_assistant&.email || '<i>none</i>'.html_safe %>
    </div>
    <div class="flex-container justify-between">
      <span>Director:</span>
      <%= @semester.director&.email || '<i>none</i>'.html_safe %>
    </div>
  </div>

  <p class="card-title">
    <%= @semester.active ? 'Active' : 'Inactive' %>
  </p>

  <%= link_to attendance_course_semester_path(@course, @semester), class: 'clickable-row flex-container justify-between' do %>
    <span>Take Attendance</span>
    <i class="fa fa-arrow-right fa-lg" aria-hidden="true" style="line-height: 1;"></i>
  <% end %>

  <div class="flex-container justify-between card-title">
    <p><%= pluralize @semester.students.size, 'student' %></p>

    <p>Attendance</p>
  </div>

  <div class="flex-container flex-column">
    <% @semester.students.each do |student| %>
      <%= student_attendance student, @semester.attendances %>
    <% end %>
  </div>
<% end %>

<%= back_button course_semesters_path @course %>

<%= edit_button edit_course_semester_path @course, @semester %>
