<%= form_for student, html: { multipart: true } do |f| %>
  <div class="card field">
    <div class="profile-img-container mb">
      <%= f.file_field :image, accept: 'image/png,image/jpeg', id: 'profile-img-file-field', title: 'Image' %>
      <%= content_tag :div, nil, id: 'img-preview', style: "background-image: url(#{student.image.url(:thumb)})" %>
    </div>

    <div class="flex">
      <span class="flex-twin">
        <%= f.text_field :first_name, autocomplete: :off, autofocus: student.new_record?, class: 'wide' %>
        <%= f.label :first_name %>
      </span>

      <span class="flex-twin">
        <%= f.text_field :last_name, autocomplete: :off, class: 'wide' %>
        <%= f.label :last_name %>
      </span>
    </div>

    <div class="flex">
      <span class="flex-twin">
        <%= f.text_field :slack_name, autocomplete: :off, class: 'wide' %>
        <%= f.label :slack_name %>
      </span>

      <span class="flex-twin">
        <%= f.text_field :slack_id, autocomplete: :off, class: 'wide', disabled: true %>
        <%= f.label :slack_id, 'Slack ID' %>
      </span>
    </div>

    <div class="flex">
      <span class="flex-twin">
        <%= f.email_field :email, class: 'wide', required: true %>
        <%= f.label :email %>
      </span>

      <span class="flex-twin">
        <%= f.text_field :phone_number, class: 'wide' %>
        <%= f.label :phone_number %>
      </span>
    </div>

    <div>
      <span class="wide">
        <%= f.text_area :notes, rows: 3 %>

        <div class="resize-handle"></div>

        <%= f.label :notes %>
      </span>
    </div>
  </div>

  <%= f.submit style: 'display: none;' %>

  <%= submit_button f %>
<% end %>
