<%= form_for student, html: { multipart: true } do |f| %>
  <div class="card field">
    <div class="profile-img-container mar-bot">
      <%= f.file_field :image, accept: 'image/png,image/jpeg', id: 'profile-img-file-field', title: 'Image' %>
      <%= content_tag :div, nil, id: 'img-preview', style: "background-image: url(#{student.image.url(:thumb)})" %>
    </div>

    <span>
      <%= f.text_field :first_name, autocomplete: :off %>
      <%= f.label :first_name %>
    </span>

    <span>
      <%= f.text_field :last_name, autocomplete: :off %>
      <%= f.label :last_name %>
    </span>

    <div>
      <span>
        <%= f.text_field :slack_name, autocomplete: :off %>
        <%= f.label :slack_name %>
      </span>
    </div>

    <div>
      <span style="width: 100%;">
        <%= f.text_area :notes, rows: 3 %>

        <div class="resize-handle"></div>

        <%= f.label :notes %>
      </span>
    </div>
  </div>

  <%= submit_button %>
<% end %>
