<h2>Change Password</h2>

<% if @student.encrypted_password.present? %>
  <h4 class="card-title">Change current password to new password</h4>
<% else %>
  <h4 class="card-title">Set password to be able to sign in</h4>
<% end %>

<%= form_for @student do |f| %>
  <div class="card field">
    <span class="mt">
      <%= f.password_field :password, autocomplete: "off", minlength: 6, required: true %>
      <%= f.label :password %>
    </span>

    <%= f.submit style: 'display: none;' %>

    <%= submit_button f %>
  </div>

<% end %>
