<h2 class="card-title"><%= @student.name %></h2>

<%= image_tag @student.image, id: 'profile-img' %>
<% if false %>
  <details>
    <summary class="card-title mb">Tracking info</summary>

    <div class="card">
      <div class="flex justify-between">
        <span>Sign in count:</span>
        <%= @student.sign_in_count || '<i>missing</i>'.html_safe %>
      </div>
      <div class="flex justify-between">
        <span>Current sign in at:</span>
        <%= full_date @student.current_sign_in_at %>
      </div>
      <div class="flex justify-between">
        <span>Last sign in at:</span>
        <%= full_date @student.last_sign_in_at %>
      </div>
      <div class="flex justify-between">
        <span>Current sign in IP:</span>
        <%= @student.current_sign_in_ip || '<i>missing</i>'.html_safe %>
      </div>
      <div class="flex justify-between">
        <span>Last sign in IP:</span>
        <%= @student.last_sign_in_ip || '<i>missing</i>'.html_safe %>
      </div>
    </div>
  </details>
<% end %>

<h4 class="card-title">Slack Name</h4>

<% if @student.slack_name %>
  <% if @student.slack_id %>
    <%= link_to "slack://user?team=T07EHJ738&id=#{@student.slack_id}" do %>
      <p class="card clickable-row flex justify-between">
        <%= @student.slack_name %>
        <i class="fa fa-slack fa-lg" aria-hidden="true" style="line-height: 1;"></i>
      </p>
    <% end %>
  <% else %>
    <p class="card"><%= @student.slack_name %></p>
  <% end %>
<% else %>
  <p class="card"><i>missing</i></p>
<% end %>

<%= student_info @student, :email %>

<% if current_user && current_user.teacher? && false %>
  <details>
    <summary class="card-title mb">Email Confirmation</summary>

    <div class="card">
      <div class="flex justify-between">
        <span>Confirmation token:</span>
        <% if @student.confirmation_token %>
          <%= link_to @student.confirmation_token, student_confirmation_path(confirmation_token: @student.confirmation_token) %>
        <% else %>
          <i>missing</i>
        <% end %>
      </div>
      <div class="flex justify-between">
        <span>Confirmed at:</span>
        <%= full_date @student.confirmed_at %>
      </div>
      <div class="flex justify-between">
        <span>Confirmation sent at:</span>
        <%= full_date @student.confirmation_sent_at %>
      </div>
      <div class="flex justify-between">
        <span>Unconfirmed email:</span>
        <%= @student.unconfirmed_email || '<i>missing</i>'.html_safe %>
      </div>
    </div>
  </details>

<% end %>

<%= student_info @student, :phone_number %>

<%= student_info @student, :notes %>

<h4 class="card-title">Attendance</h4>

<div class="flex flex-column">
  <% @semesters.each do |k, v| %>
    <%= semester_attendance k, v %>
  <% end %>
</div>

<% @semesters.each do |semester, attendances| %>
  <h4 class="card-title"><%= semester.course.name %> | <%= semester.name %></h4>

  <div id="calendars" class="flex justify-between wrap">
    <% attendances.sort_by(&:date).group_by { |x| [x.date.year, x.date.month] }.each do |month, a| %>
      <%= attendance_calendar month, a %>
    <% end %>
  </div>
<% end %>

<h4 class="card-title">Projects</h4>

<div class="flex flex-column">
  <% @student.projects.each do |project| %>
    <%= link_to project.name, project, class: 'clickable-row' %>
  <% end %>
</div>

<%= back_button students_path %>

<%= edit_button edit_student_path @student %>
