<h2 class="card-title"><%= @student.name %></h2>

<%= image_tag @student.image, id: 'profile-img' %>

<%= student_info @student, :slack_name %>

<%= student_info @student, :email %>

<%= student_info @student, :phone_number %>

<%= student_info @student, :notes %>

<h4 class="card-title">Attendance</h4>

<div class="flex-container flex-column">
  <% @semesters.each do |k, v| %>
    <%= semester_attendance k, v %>
  <% end %>
</div>

<% @semesters.each do |semester, attendances| %>
  <h4 class="card-title"><%= semester.course.name %> | <%= semester.name %></h4>

  <div id="calendars" class="flex-container justify-between wrap">
    <% attendances.sort_by(&:date).group_by { |x| [x.date.year, x.date.month] }.each do |month, a| %>
      <%= calendar month, a %>
    <% end %>
  </div>
<% end %>

<h4 class="card-title">Projects</h4>

<div class="flex-container flex-column">
  <% @student.projects.each do |project| %>
    <%= link_to project.name, project, class: 'clickable-row' %>
  <% end %>
</div>

<%= back_button students_path %>

<%= edit_button edit_student_path @student %>
