<h2 class="card-title"><%= @student.name %></h2>

<%= image_tag @student.image, id: 'profile-img' %>

<h4 class="card-title">Slack Name</h4>

<% if @student.slack_name %>
  <% if @student.slack_id %>
    <%= link_to "slack://user?team=T07EHJ738&id=#{@student.slack_id}" do %>
      <p class="card clickable-row flex-container justify-between">
        <%= @student.slack_name %>
        <i class="fa fa-slack fa-lg" aria-hidden="true" style="line-height: 1;"></i>
      </p>
    <% end %>
  <% else %>
    <p class="card"><%= @student.slack_name %></p>
  <% end %>
<% else %>
  <p class="card"><i>missing</i></p>
<% end %>

<%= student_info @student, :email %>

<%= student_info @student, :phone_number %>

<%= student_info @student, :notes %>

<h4 class="card-title">Attendance</h4>

<div class="flex-container flex-column">
  <% @semesters.each do |k, v| %>
    <%= semester_attendance k, v %>
  <% end %>
</div>

<% @semesters.each do |semester, attendances| %>
  <h4 class="card-title"><%= semester.course.name %> | <%= semester.name %></h4>

  <div id="calendars" class="flex-container justify-between wrap">
    <% attendances.sort_by(&:date).group_by { |x| [x.date.year, x.date.month] }.each do |month, a| %>
      <%= attendance_calendar month, a %>
    <% end %>
  </div>
<% end %>

<h4 class="card-title">Projects</h4>

<div class="flex-container flex-column">
  <% @student.projects.each do |project| %>
    <%= link_to project.name, project, class: 'clickable-row' %>
  <% end %>
</div>

<%= back_button students_path %>

<%= edit_button edit_student_path @student %>
