<%= form_for [@course, @semester, lesson] do |f| %>
  <div class="toggle">
    <%= f.check_box :visible %>
    <%= f.label :visible %>
  </div>

  <div class="card field">
    <div>
      <span>
        <%= f.text_field :title, autocomplete: :off, required: true, size: 30 %>
        <%= f.label :title %>
      </span>
    </div>

    <div>
      <span>
        <%= f.date_select :date %>
        <%= f.label :date %>
      </span>
    </div>

    <div>
      <span>
        <%= f.text_field :video, autocomplete: :off %>
        <%= f.label :video %>
      </span>
    </div>

    <div class="mb">
      <span class="wide">
        <%= f.text_area :notes %>

        <div class="resize-handle"></div>

        <%= f.label :notes %>
      </span>
    </div>

    <div class="mb">
      <span class="wide">
        <%= f.text_area :homework %>

        <div class="resize-handle"></div>

        <%= f.label :homework %>
      </span>
    </div>

  </div>

  <p class="card-title">
    Slides
  </p>

  <div class="card field">
    <div>
      <span>
        <%= f.text_field :slides_name, autocomplete: :off %>
        <%= f.label :slides_name %>
      </span>
    </div>

    <div>
      <span>
        <%= f.select :theme, %w(beige black blood league moon night serif simple sky solarized white) %>
        <%= f.label :theme %>
      </span>
    </div>

    <div>
      <span>
        <%= f.select :transition, %w(none fade slide convex concave zoom) %>
        <%= f.label :transition %>
      </span>
    </div>

    <div>
      <span class="wide">
        <%= f.text_area :slides %>

        <div class="resize-handle"></div>

        <%= f.label :slides %>
      </span>
    </div>
  </div>

  <%= f.submit style: 'display: none;' %>

  <%= submit_button f %>
<% end %>
