<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Visible</th>
      <th>Notes</th>
      <th>Homework</th>
      <th>Slides</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.date %></td>
        <td><%= lesson.visible %></td>
        <td><%= lesson.notes %></td>
        <td><%= lesson.homework %></td>
        <td><%= lesson.slides %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', [:new, @course, @semester, :lesson] %>
