<h3 class="card-title">
  <%= @course.name %> | <%= @semester.name %> | Lessons
</h3>

<% @lessons.each do |lesson| %>
  <p class="card flex justify-between <%= lesson.visible ? nil : 'dark' %>">
    <%= link_to [@course, @semester, lesson] do %>
      <% if current_user %>
        <% if lesson.visible %>
          <i class="fa fa-eye mr" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-eye-slash mr" aria-hidden="true"></i>
        <% end %>
      <% end %>

      <%= just_date lesson.date %> - <%= lesson.title %>
    <% end %>
    <%= link_to 'Slides', [:slides, @course, @semester, lesson], target: '_blank' %>
  </p>
<% end %>

<%= add_button [:new, @course, @semester, :lesson] if policy(:lesson).teacher? %>
