<h3 class="card-title">
  <%= @course.name %> | <%= @semester.name %> | <%= @lesson.title %>
</h3>

<% if current_user %>
  <p class="card-title">
    Visible
  </p>

  <p class="card">
    <%= @lesson.visible %>
  </p>
<% end %>

<p class="card-title">
  Date
</p>

<p class="card">
  <%= just_date @lesson.date %>
</p>

<p class="card-title">
  Homework
</p>

<p class="card">
  <%= @lesson.homework || '<i>missing</i>'.html_safe %>
</p>

<% if @lesson.video.present? %>
  <p class="card-title">
    Video
  </p>

  <%= link_to @lesson.video, class: 'clickable-row flex justify-between', target: '_blank' do %>
    <%= @lesson.video %>
    <i class="fa fa-arrow-right fa-lg" aria-hidden="true" style="line-height: 1;"></i>
  <% end %>
<% end %>

<p class="card-title">
  Slides
</p>

<% if current_user %>
  <div class="card mb">
    <div class="flex justify-between">
      Slides name
      <span><%= @lesson.slides_name %></span>
    </div>

    <div class="flex justify-between">
      Theme
      <span><%= @lesson.theme %></span>
    </div>

    <div class="flex justify-between">
      Transition
      <span><%= @lesson.transition %></span>
    </div>
  </div>
<% end %>

<%= link_to [:slides, @course, @semester, @lesson], class: 'clickable-row flex justify-between', target: '_blank' do %>
  View Slides
  <i class="fa fa-arrow-right fa-lg" aria-hidden="true" style="line-height: 1;"></i>
<% end %>

<details>
  <summary class="card-title mb">Parsed</summary>

  <div class="card">
    <%= full_md @lesson.slides %>
  </div>
</details>

<p class="card-title">
  Notes
</p>

<details>
  <summary class="card-title mb">Parsed</summary>

  <div class="card">
    <%= full_md @lesson.notes %>
  </div>
</details>

<%= edit_button [:edit, @course, @semester, @lesson] if policy(:lesson).teacher? %>
<%= back_button [@course, @semester, :lessons] %>
