<% if current_user %>
  <p class="card-title">
    Visible
  </p>

  <p class="card">
    <%= @lesson.visible %>
  </p>
<% end %>

<p class="card-title">
  Title
</p>

<p class="card">
  <%= @lesson.title %>
</p>

<p class="card-title">
  Date
</p>

<p class="card">
  <%= just_date @lesson.date %>
</p>

<p class="card-title">
  Homework
</p>

<p class="card">
  <%= @lesson.homework || '<i>missing</i>'.html_safe %>
</p>

<p class="card-title">
  Slides
</p>

<%= link_to [:slides, @course, @semester, @lesson], class: 'clickable-row flex justify-between', target: '_blank' do %>
  View Slides
  <i class="fa fa-arrow-right fa-lg" aria-hidden="true" style="line-height: 1;"></i>
<% end %>

<details>
  <summary class="card-title mb">Parsed</summary>

  <div class="card">
    <%= full_md @lesson.slides %>
  </div>
</details>

<p class="card-title">
  Notes
</p>

<details>
  <summary class="card-title mb">Parsed</summary>

  <div class="card">
    <%= full_md @lesson.notes %>
  </div>
</details>

<%= edit_button [:edit, @course, @semester, @lesson] if policy(:lesson).teacher? %>
<%= back_button [@course, @semester, :lessons] %>
