<h2>
  <% if resource.is_a? Student %>
    Student
  <% elsif resource.is_a? User %>
    Teacher
  <% end %>
  Log in
</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card">
    <div class="field">
      <div>
        <span>
          <%= f.email_field :email, autofocus: true %>
          <%= f.label :email %>
        </span>
      </div>

      <div>
        <span>
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.label :password %>
        </span>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <%= render "devise/shared/links" %>
  </div>

  <%= f.submit style: 'display: none;' %>

  <%= submit_button f %>
<% end %>
