<h3 class="card-title flex-container justify-between">
  <%= @project.name %>

  <span class="field">
    Code review for
    <%= text_field_tag :date, date, size: 10 %>
  </span>
</h3>

<%= render 'form', code_review: @code_review, hidden_date: false%>

<%= render 'previous_reviews', previous_reviews: @previous_reviews %>

<%= back_button project_code_reviews_path params[:project_id] %>
