<h3 class="card-title"><%= @project.name %> | Code Reviews</h3>

<%= link_to form_project_code_reviews_path, class: 'clickable-row flex justify-between' do %>
  <span>Code Review</span>
  <i class="fa fa-arrow-right fa-lg" aria-hidden="true" style="line-height: 1;"></i>
<% end %>

<div id="line-graph"></div>

<script>
  $(window).on('turbolinks:load resize', function() { lineGraph('<%= review_data %>') } );
</script>

<%= render 'table', code_reviews: @code_reviews %>

<%= back_button project_path params[:project_id] %>

<%= add_button form_project_code_reviews_path %>
