<%= form_for @project do |f| %>
  <% @project.students.each do |student| %>
    <% previous = @project.stand_ups.select { |x| x.student_id == student.id && x.date < date.to_date }.last %>
    <% stand_up = @project.stand_ups.find { |x| x.student_id == student.id && x.date == date.to_date }  %>

    <h4 class="card-title"><%= student.first_name %></h4>

    <div class="card field mar-bot">
      <%= f.fields_for :stand_ups_attributes, stand_up, index: student.id do |ff| %>
        <%= ff.hidden_field :id if stand_up %>
        <%= ff.hidden_field :student_id, value: student.id unless stand_up %>
        <%= ff.hidden_field :date, value: date unless stand_up%>

        <%= render 'previous', previous: previous if previous %>

        <span class="wide mar-bot">
          <%= ff.text_area :completed %>
          <%= ff.label :completed %>
        </span>

        <span class="wide mar-bot">
          <%= ff.text_area :goals %>
          <%= ff.label :goals %>
        </span>

        <span class="wide">
          <%= ff.text_area :obstacles %>
          <%= ff.label :obstacles %>
        </span>
      <% end %>
    </div>
  <% end %>

  <%= submit_button f %>
<% end %>
