<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @stand_up.project %>
</p>

<p>
  <strong>Student:</strong>
  <%= @stand_up.student %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stand_up.date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @stand_up.completed %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @stand_up.goals %>
</p>

<p>
  <strong>Obstacles:</strong>
  <%= @stand_up.obstacles %>
</p>

<%= link_to 'Edit', edit_stand_up_path(@stand_up) %> |
<%= link_to 'Back', stand_ups_path %>
